body {
    font-size: 20px;
}

.App {
    background-color: white;
    color: black;
    margin: 2% 5% 0;
}

header {
    margin: 3% 0;
}

header h1 {
    display: inline-block;
    font-size: 4rem;
    font-weight: bolder;
    vertical-align: middle;
}

.App-logo {
    margin-left: 2%;
    pointer-events: none;
    vertical-align: middle;
    width: 5rem;
}

#new-task {
    margin-bottom: 2%;
}

/* Task Detail css lines */
.tg  {
    /* border-collapse:collapse;border-spacing:0; */
    /* border-style: solid;
    border-color: #dee2e6;
    border-width: 1px; */
}

.tg td{
   word-break:normal;
   border: 1px solid  #dee2e6;
}
.tg th{
    border-top: 0 none transparent;
    text-transform: capitalize;
    text-align: center;
    word-break:normal; 
}
.tg .tg-rightColSide{
    text-transform: capitalize;
    width: 50%;
    text-align:right;
    vertical-align:top;
}
.tg .tg-TaskDetail{
    text-align: center;
    vertical-align:top
}
.tg .tg-leftColSide{
    text-transform: capitalize;
    width: 50%;
    text-align:left;
    vertical-align:top
}

.tg-progressBar{
    margin: 0 auto;
    width: 75%;
}