body {
    font-size: 20px;
}

.App {
    background-color: white;
    color: black;
    margin: 2% 5% 0;
}

header {
    margin: 3% 0;
}

header h1 {
    display: inline-block;
    font-size: 4rem;
    font-weight: bolder;
    vertical-align: middle;
}

.App-logo {
    margin-left: 2%;
    pointer-events: none;
    vertical-align: middle;
    width: 5rem;
}

#new-task {
    margin-bottom: 2%;
}
